In [1]:
from pyspark import SparkConf, SparkContext, sql
from pyspark.sql import SparkSession

In [7]:
# Initiate the sqlSession, sqlContext and get the link for the Spark UI
sqlSession = SparkSession.builder.master("local").appName("Neighborhood-Scorer").getOrCreate()
sqlContext = SQLContext(sc)
sqlContext.sparkSession

In [2]:
import mysql.connector
import sys

In [3]:
cnx = mysql.connector.connect(user='matt', password='Sup3rDup3rC@li', host='3.86.145.6', database = 'dsci551', auth_plugin = 'mysql_native_password')

In [4]:
cursor = cnx.cursor()

In [5]:
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

In [6]:
tables

[('ACT_neighborhoods',), ('CRIME',), ('rent_scores',)]

In [8]:
df1 = sqlContext.read.format("jdbc").option("url", "jdbc:mysql://3.86.145.6/dsci551").option("driver", "com.mysql.jdbc.Driver").option("dbtable", "CRIME").option("user", "matt").option("password", "Sup3rDup3rC@li").load()

In [9]:
df4.show()

+---+---------+----------+--------------------+-------------------+
| id|    dr_no|  date_occ|        neighborhood|crime_weighted_norm|
+---+---------+----------+--------------------+-------------------+
|  1|191907191|2019-03-07|              Sylmar|  0.113706949000000|
|  2|190125334|2019-10-16|Downtown Los Angeles|  0.246650906000000|
|  3|191920961|2019-12-21|    North Hills East|  0.113706949000000|
|  4|190604395|2019-01-08|          Central LA|  0.113706949000000|
|  5|191310615|2019-04-29|   South Los Angeles|  0.113706949000000|
|  6|191419522|2019-09-02|         Westchester|  0.113706949000000|
|  7|190123550|2019-09-20|Downtown Los Angeles|  0.246650906000000|
|  8|191915118|2019-08-17|              Sylmar|  0.113706949000000|
|  9|190811511|2019-06-19|           Brentwood|  0.113706949000000|
| 10|191605013|2019-01-28|          Sun Valley|  0.113706949000000|
| 11|190129579|2019-12-17|Downtown Los Angeles|  0.113706949000000|
| 12|191116816|2019-09-17|Northeast Los Ang...|  0.057744638000000|
| 13|190220657|2019-10-24|            Westlake|  0.113706949000000|
| 14|191307997|2019-03-13|Downtown Los Angeles|  0.246650906000000|
| 15|190211654|2019-05-18|            Westlake|  0.113706949000000|
| 16|191919183|2019-11-11|              Arleta|  0.113706949000000|
| 17|191106587|2019-02-19|       Highland Park|  0.113706949000000|
| 18|191309607|2019-04-09|   South Los Angeles|  0.113706949000000|
| 19|190412442|2019-07-16|     Lincoln Heights|  0.270952490000000|
| 20|191822844|2019-11-07|Harbor Gateway North|  0.113706949000000|
+---+---------+----------+--------------------+-------------------+
only showing top 20 rows