In [1]:
# Data Manipulation
import pandas as pd

# System
import sys

# Packages to upload to firebase
import json
import requests

In [2]:
# Inputs
sys.argv[1] = ['Koreatown', 'Bel Air']
sys.argv[2] = ['CrimeCount', 'CrimeScore']

NEIGHBORHOODS = sys.argv[1]
FEATURES = sys.argv[2]

In [3]:
def search_neighborhoods_features(NEIGHBORHOODS, FEATURES):

    query_output_dict = {}

    # First populate the query_output_dict
    for feat in FEATURES:
        for neig in NEIGHBORHOODS:
            query_output_dict[neig] = {feat: None}

    # Then query
    for feat in FEATURES:
        for neig in NEIGHBORHOODS:
            query = f'https://neighborhood-score-la.firebaseio.com/{feat}/{neig}.json'
            json_query = requests.get(query)
            dict_query = json.loads(json_query.text)
            query_output_dict[neig][feat] = dict_query

    df_output = pd.DataFrame.from_dict(query_output_dict).T 
    
    return df_output

In [4]:
def search_neighborhoods(NEIGHBORHOODS):

    query_output_dict = {}

    for neig in NEIGHBORHOODS:
        query = f'https://neighborhood-score-la.firebaseio.com/NeighborhoodData/{neig}.json'
        json_query = requests.get(query)
        dict_query = json.loads(json_query.text)
        query_output_dict[neig] = dict_query

    df_output = pd.DataFrame.from_dict(query_output_dict).T
    
    return df_output

In [5]:
def search_features(FEATURES):

    query_output_dict = {}

    for feat in FEATURES:
        query = f'https://neighborhood-score-la.firebaseio.com/{feat}.json'
        json_query = requests.get(query)
        dict_query = json.loads(json_query.text)
        query_output_dict[feat] = dict_query

    df_output = pd.DataFrame.from_dict(query_output_dict)
    
    return df_output

In [6]:
#search_neighborhoods_features(NEIGHBORHOODS, FEATURES)

           CrimeScore  CrimeCount
Koreatown    0.157397      2423.0
Bel Air      0.154696       250.0

In [7]:
#search_neighborhoods(NEIGHBORHOODS)

,AvgACT,AvgScrEng,AvgScrMath,AvgScrRead,AvgScrSci,CrimeCount,CrimeScore,HousingScore,SizeRank
Koreatown,20.5,22.0,18.0,22.0,20.0,2423.0,0.157397,6.291245e+05,82.0
Bel Air,NaN,NaN,NaN,NaN,NaN,250.0,0.154696,3.048067e+06,2260.0

In [8]:
#search_features(FEATURES)

                 CrimeCount  CrimeScore
Arleta                  994    0.152963
Art District            114    0.146440
Baldwin Hills           142    0.158982
Bel Air                 250    0.154696
Beverly Glen            216    0.162599
...                     ...         ...
Wilmington             2797    0.163433
Wilshire Center        1009    0.163769
Windsor Hills             1    0.057745
Winnetka               1226    0.163329
Woodland Hills         3697    0.170938

[120 rows x 2 columns]